fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langchain-pinecone
pinecone
pinecone-plugin-interface
pinecone-plugin-assistant
openai
python-dotenv
httpx
requests
aiohttp
pydantic
pydantic-settings
tiktoken
tenacity
attrs
dataclasses-json
orjson
typing-extensions
streamlit
pypdf
